cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
defusedxml==0.7.1
google-api-core==2.24.2
google-api-python-client==2.166.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.69.2
httplib2==0.22.0
idna==3.10
isodate==0.7.2
joblib==1.4.2
nltk==3.9.1
numpy==2.2.4
pandas==2.2.3
proto-plus==1.26.1
protobuf==6.30.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.11.6
requests==2.32.3
rsa==4.9
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
youtube-transcript-api==1.0.3
